/* Body and Global Styles */
.ag-theme-alpine {
    --ag-border-color: #082c33 !important;
    --ag-header-cell-hover-background-color:#082c33 !important;
    --ag-header-column-resize-handle-color: #0a363e !important;
    --ag-secondary-foreground-color: hsla(0, 0%, 100%, 0.5) !important;
    --ag-alpine-active-color: white !important;
    --ag-checkbox-checked-color: #0a363e !important;
    --ag-set-filter: #041619 !important;
    --ag-filter-toolpanel: #041619 !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: #041619;
}

#app-container {
    width: 100%;
    height: 100%;
}

.ag-header-viewport{
    background-color: #041619;
}

.ag-input-field-input {
    background-color: #FBEAEB;
}

.ag-column-select-header{
    height: 0px !important;
    border:#0a363e !important;
}

.ag-filter-select-header{
    height: 0px !important;
    border:#0a363e !important;
}

.ag-theme-alpine .ag-row {
    font-size: 14px!important;
    color: #FBEAEB;
    text-align: center!important;
    border-color: #062025;
}

.ag-row:nth-child(odd) {
    background-color: #041619;
    color: #FBEAEB;
}

.ag-row:nth-child(even) {
    background-color: #041619;
    color: #FBEAEB;
}

.ag-header {
    text-transform: uppercase;
    background-color: #041619;
}

.ag-header-cell {
    background-color: #041619;
    color: #FBEAEB;
    font-size: 12px;
}

.ag-header-cell-label {
    display: block;
    text-align: center!important;
    justify-content: center!important;
}
.ag-root-wrapper-body {
    background-color: #041619 !important;
}
.ag-cell a {
    color: #FBEAEB !important; /* Your desired color */
    text-decoration: none !important; /* Removes underlining */
}

.ag-tool-panel-wrapper {
    background-color: #041619 !important;
    color: #FBEAEB;
}

.ag-cell a:hover {
    color: #CCF381 !important; /* Color when the link is hovered over */
    text-decoration: underline !important; /* Adds underlining when hovered over */
}
.ag-root-wrapper ::-webkit-scrollbar {
    display: none;
}
.ag-root-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.ag-header-container {
    background-color: #041619 !important;
}

.ag-side-button {
    color: #FBEAEB;
}
#content{
    color: #FBEAEB;
}
#navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #041619;
    overflow-x: hidden;
    transition: 0.5s;
    padding-left: 60px;
}

#navbar:hover {
    height: 75px;
}

#navbar button {
    text-align: center;
    color: #FBEAEB;
    border: none;
    background: none;
    width: 100%;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    display: block; /* Make buttons stack vertically */
}

#navbar button:hover {
    background-color: #082c33;
}

.ag-header-group-cell{
    text-align: center !important;
    color: #FBEAEB;
}

/* Styling for the filter tool panel header to match column select header */
.ag-filter-select-header, .ag-column-select-header {
    height: 0px !important;
    border: none !important;
    background-color: #041619 !important;
}

/* If there are unique classes for filter labels, style them here */
.ag-filter-label, .ag-header-cell-label {
    display: block;
    text-align: center !important;
    justify-content: center !important;
    color: #FBEAEB;
}

/* Styling for filter tool panel container to match the column tool panel */
.ag-tool-panel-wrapper {
    background-color: #041619 !important;
    color: #FBEAEB;
}

/* Ensure buttons within the filter tool panel match those in the column tool panel */
.ag-side-button, .ag-tool-panel-wrapper .ag-side-button {
    color: #FBEAEB;
}
.ag-filter{
    background-color: #041619;
    color: #062025;
}
/* Ensure buttons within the filter tool panel match those in the column tool panel */
.ag-side-button, .ag-tool-panel-wrapper .ag-side-button {
    color: #FBEAEB;
}

.ag-set-filter{
    background-color: #041619 !important;
    color: #FBEAEB !important;
}

.ag-filter-list-panel{
    background-color: #041619 !important;
}

.ag-group-title-bar{
    background-color: #041619 !important;
    color: #FBEAEB !important;
}

